body{
    /* font-family: 'Oswald'; */
    background-color: #444444;
    overflow: hidden;
}
.container{
    font-family: 'Oswald';
    color: white;
    width: 100%;
    height: 85vh;
    margin: 5vh auto;
    background-color: #444444;
    box-shadow: 0 0 5px 5px #46434399;
}
/* 
.navButtons{
    top: 8vh;
    width: 18vw;
    position: absolute;
    right: 12vw;
    text-align: center;
}

.navButtons a{
    display: block;
    text-decoration: none;
    color: white;
    opacity: .5;
    border: 1px solid rgb(201, 196, 196);
    padding: 2vh 0;
    font-size: 6vh;
    margin: 7vh 0;
} */
/* #aboutLine,#projectLine,#projectLine{
    content: " ";
    border: solid white 2px;
    width: 10%;
} */


.terminal h1{
    position: absolute;
    font-size:2vw;
    left: 4.5vw;
    margin-top: 21px;
    color:  #26af34;
}

.contactIcons{
    position: absolute;
    display: grid;
    bottom: 25vh;
    clear: both;
    right: 15vw;
}

.contactIcons img{
    /* margin: .5vh 1vw; */
    margin: 2.5vh auto;
    width: 3.5vw;
    opacity: .6;
    border-radius: 8vw;
}

a:first-child img{
    border-radius: 4px;
}

.contactIcons img:hover{
    box-shadow: -1px 1px 20px 15px #24952f;
}

.contentDisplay{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    /* bottom: 20vh; */
    top: 17vh;
    left: 4.5vw;
    width: 75vw;
    height: 55vh;
    /* box-shadow: -1px 1px 10px 5px #1b181899;  */
}


.contentDisplay div{
    width: 100%;
}

.contentDisplay h2{
    font-size: 2vw;
    margin-top: 25vh;
}

.hiddenMenu{
    position: absolute;
    bottom: 0;
    display: flex;
    overflow: hidden;

}

.hiddenMenu h1{
    z-index: 5;
    color: rgb(0, 219, 73);
    opacity: .8;
    height: 10vh;
    font-size: 2.5vw;
    margin-bottom: 0;
    width: 50%;
    /* overflow: hidden; */
}

.hiddenName1, .hiddenName2{
    /* position: absolute; */
    position: absolute;
    top: 15vh;
    /* z-index: 200; */
    margin-bottom: 20px;
}

span:hover{
    cursor: pointer;
    text-decoration: underline;
}

.strings{
    position: absolute;
    /* background-color: green; */
    right: 1vw;
    width: 5%;
    height: 10px;
}

.string1, .string2{
    position: absolute;
    height: 10px;
    width: 2.5%;
    background-color: orange;
    height: 0;
    z-index: 4;
}

.string1{
    right: 17vw;
}
.string2{
    right: 8vw;
}


#location{
    color: #26af34;
    margin-left: 1vw;
}

#cursor{
    position: absolute;
    margin-left: 5px;
    font-size: 2vh;
    bottom: 0;
    color: rgb(10, 172, 32);
}

.aboutSection{
    position: relative;
    
}

.aboutSection:before{
    opacity: .5;
}


/* Divs for "border" animation */

div .leftAboutBorder, div .rightAboutBorder{
    position: absolute;
    background-color: rgb(80, 80, 80);
    height: 0;
    width: 5%;
}

div .rightAboutBorder{
    right: 0;
    bottom: 0;
}



h2{
    padding: 2vh 0;
    transition: all .3s ease-in-out;
    z-index: 2;
    cursor: pointer;
}


h2:hover{
    color: rgb(9, 197, 9);
    transform: scale(1.4);    
}


.dropScreen{
    position: absolute;
    background-color: brown;
    width: 100%;
    /* height: 2vh;  */
    bottom: 0;
}


/* ANIMATIONS=========================================================== */




/* Blinking cursor in terminal=========================================== */

#cursor {
    -webkit-animation: cursor-blink 1s infinite; /* Safari 4+ */
    -moz-animation:    cursor-blink 1s infinite; /* Fx 5+ */
    -o-animation:      cursor-blink 1s infinite; /* Opera 12+ */
    animation:         cursor-blink 1s infinite; /* IE 10+, Fx 29+ */    
  }


@-webkit-keyframes cursor-blink {
    0%   { opacity: 0; }
    50%  {opacity: 1;}
    100% { opacity: 0; }
  }
  @-moz-keyframes cursor-blink {
    0%   { opacity: 0; }
    50%  {opacity: 1;}
    100% { opacity: 0; }
  }
  @-o-keyframes cursor-blink {
    0%   { opacity: 0; }
    50%  {opacity: 1;}
    100% { opacity: 0; }
  }
  @keyframes cursor-blink {
    0%   { opacity: 0; }
    50%  {opacity: 1;}
    100% { opacity: 0; }
  }
