/* ZOMBIE FONT================== */
@font-face {
    font-family: corpse;
    src: url("/assets/exquisiteCorpse.ttf") format("opentype");
}

body{
    font-family: 'fantasy';
    background-color: #444444;
    overflow: hidden;
}
a{
    color: white;
    text-decoration: none;
}
.favIcon{
    width: 100%;
}


/* MOBILE CSS================================== */

@media only screen and (max-width: 899px) {

    .desktop {
        display: none;
    }
    #mobileMenu{
        text-align: center;
        margin: auto;
        margin-top: 5vh;
        width: 90%;
        height: 79vh;
        overflow: scroll;
        overflow-x: hidden;
        z-index: 33;
    }
    #mobileMenu h3{
        color: rgb(23, 228, 47);
        font-size: 62px;    
    }
    .splitLeft, .splitRight{
        /* position: absolute; */
    }

    .contactIcons{
        position: fixed;
        display: flex;
        justify-content: space-around;
        width: 100%;
        bottom: 0;
    }
    .terminal{
        font-size: 9px;
        color: rgb(13, 201, 13);
    }

    svg{
        width: 17vw;
        height: auto;
        fill:rgb(23, 228, 47);
    }
    .mainContent{
        overflow: hidden;
    }    
    .aboutInfo, .projectInfo, .resumeInfo{
        display: none;
    }
    .cogs{
        position: absolute;
        display: none;
        bottom: 18vh;
        opacity: .2;
        z-index: -5;
    }
    #cog1,#cog2,#cog3,#cog4,#cog5{
        position: absolute;
        left: 0;
    }
    #cog1{
        left: 18vw;
        width: 15vw;
    }
    #cog2{
        top: -16vh;
        width: 37vw;
        left: 50vw;
    }
    #cog3{
        left: 30vw;
        width: 22vw;
        top: 2vh;
    }
    #cog4{
        width: 12vw;
        left: 48vw;
    }
    #cog5{
        left: 58vw;
        width: 26vw;
    }
    #resMega{
        display: none;
    }
    #mobCloseButton{
        position: absolute;
        display: none;
        opacity: 0;
        font-size: 20vw;
        left: 42vw;
        top: 11vh;
    }
    
    .aboutInfo{
        
        position: absolute;
        top: 23vh;
        left: 15%;
        width: 70vw;
        margin: 0 auto;
        text-align: center;
        color: white;
        opacity: 0;   
    }

    .aboutInfo p{
        font-size: 22px;
    }


    




    
} /* End of small screen media query  */

#karBlock h4{
    margin: 27px auto;
    font-size: 45px;
    font-family: corpse;
}
#devBlock img{
    width: 12vw;
    margin-top: 35px;
}

/* DESKTOP CSS ====================================== */
@media only screen and (min-width: 900px) {
    .mobile{
        display: none;
    }
    .container{
        font-family: 'Oswald';
        color: white;
        width: 100%;
        height: 85vh;
        margin: 5vh auto;
        background-color: #444444; 
        box-shadow: 0 0 5px 5px #46434399;

       
    }

    /* Terminal at top left of screen ==========================*/
    .terminal h1{
        position: absolute;
        font-size:2vw;
        left: 4.5vw;
        margin-top: 21px;
        color:  rgb(209, 209, 209);
    }

    #location{
        color: #26af34;
        margin-left: 1vw;
    }

    #cursor{
        position: absolute;
        margin-left: 5px;
        font-size: 2vh;
        bottom: 0;
        color: rgb(10, 172, 32);
    }

    /* Contant icons=============================================== */
    .contactIcons{
        position: absolute;
        display: grid;
        bottom: 25%;
        margin-left: 2vw;
        clear: both;
        right: 10vw;
    }
    .contactIcons svg{
        padding-right: 20px;
    }

    a:first-child img{
        border-radius: 4px;
    }


    svg{
        
        opacity: .7;
        width: 4vw;
        height: auto;
        margin-bottom: 15px;
        fill: rgb(9, 185, 9);
        border-right: 4px solid transparent;
        
    }

    svg:hover{
        
        transition-duration: .5s;
        opacity: 1;
        border-right: 4px solid rgb(158, 151, 151);
    }

    /* Content display =================================================== */
    .contentDisplay{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        top: 13vh;
        left: 4.5vw;
        width: 75vw;
        height: 68vh;
        overflow: hidden;

        box-shadow: 0 8px 32px 0 #858383;
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;

    }


    .contentDisplay h2{
        font-size: 2vw;
        margin-top: 25vh;
    }




    .aboutSection, .projectSection, .resumeSection{
        width: 100%;
        position: relative;
    }

    .aboutSection:before{
        opacity: .5;
    }


    /* Divs for "border" animation */

    div .leftAboutBorder, div .rightAboutBorder,
    div .leftResBorder, div .rightResBorder{
        position: absolute;
        background-color: #5f5c5c;
        height: 0;
        width: 0;
        border-radius: 0 0 10px 0;
    }
    
    div .rightAboutBorder{
        right: 0;
        bottom: 0;
        border-radius: 10px 0 0 0;
    }
    
    div .leftProjBorder,div .rightProjBorder{
        position: fixed;
        background-color: #7205b5;
        height: 0;
        width: 5%;
        left: 50%;
        border-radius: 0 0 10px 10px;
    }
    div .rightProjBorder{
        bottom: 0;
        border-radius: 10px 10px 0 0;
    }

    div .leftResBorder, div .rightResBorder{
        background-color: #c6d8dc;
        top: 45%;
        height: 15%;
        border-radius: 0 10px 10px 0;
    }
    div .leftResBorder{
        right:0;
        border-radius: 10px 0 0 10px;
    }
    
    .contentDisplay h2{
        padding: 2vh 0;
        transition: all .3s ease-in-out;
        z-index: 2;
        cursor: pointer;
    }


    .contentDisplay h2:hover{
        color: rgb(9, 197, 9);
        transform: scale(1.4);    
    }



    /* Hidden Menus that appear after first click=================================== */
    .hiddenMenu{
        position: absolute;
        width: 100%;
        bottom: 8px;
        display: flex;
        overflow: hidden;
        
    }
    
    .hiddenMenu h1{
        z-index: 5;
        color: rgb(0, 219, 73);
        opacity: .8;
        height: 10vh;
        font-size: 2.5vw;
        margin-bottom: 0;
        width: 50%;
    }

    
    .hiddenName1{
        z-index: 4;
    }
    
    
    span:hover{
        /* pointer-events: none; */
        cursor: pointer;
        text-decoration: underline;
    }
    
    .hiddenName1, .hiddenName2{
        position: absolute;
        top: 15vh;
        margin-bottom: 20px;
    }


    .strings{
        position: absolute;
        right: 1vw;
        width: 5%;
        height: 47vh;
        overflow: hidden;
    }

    .string1 {
        position: absolute;
        width: 100%;
        background-color: orange;
        right: 3vw;
        height: 0;
        z-index: 4;
    }

    /* Content being displayed from hidden interaction============================== */
    .mainContent{
        position: absolute;
        content: ' ';
        overflow: hidden;
        width: 100%;
    }


    /* ABOUT CONTENT============================= */
    .aboutContent h1{
        font-size: 45px;  
        float: left;
        margin-left: 2vw;
    }
    .aboutInfo{
        display: none;
        opacity: 0;
        width: 65%;
        margin: 3vh auto;
        font-size: 21px;  
    }

    .aboutInfo h1{
        font-size: 25px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .aboutInfo hr{
        margin-top: 4vh;
    }


    /* PROJECT CONTENT======================================= */
    .projectInfo{
        margin-left: 15%;
        opacity: 0;
        display: none;
        justify-content:space-evenly;
        width: 55%;
        height: 53vh;
        margin-top: 10px;
        overflow: scroll;
        overflow-x: hidden;
    }
    .projectInfo img{
        width: 100%;
        height: auto;
        padding: 5px;
        border-radius: 5px;
    }
    .projectInfo h4{
        font-size: 21px;
        margin-left: 20px;
    }
    .projectInfo p{
        color: rgb(27, 202, 27);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 0 10%;
        font-size: 1vw;
        
    }
    
    
    .projLink:hover{
        border-bottom: 2px solid #00d8fb; 
    }
    .projectInfo h4:hover{
        /* background-color: green; */
    }
   
    #karBlock, #devBlock {
        display: flex;
        justify-content: space-around;
        width: 95%;
    }
    
    #devBlock{
        margin-top: 20px;
    }
    .cogs{
        position: fixed;
        opacity: 1;
        bottom: 0;
        left: -16vw;
        width: 20%;
        height: 50%;
    }

    .cogs svg{
        border: none;
        opacity: 1;
    }
    #cog1, #cog2, #cog3, #cog4, #cog5{
        position: absolute;
    }
    #cog1{
        left: 0;
       margin-top: 5px; 
       width: 30%;
    }
    #cog2{
        width: 43%;
        top: 32%;
        left: -21%;
    }
    #cog3{
        top: 19%;
        left: 23%;
    }
    #cog4{
        top: 22%;
        width: 50%;
        left: 46%;
    }
    #cog5{
        position: absolute;
        top: 58%;
        fill: rgb(233, 13, 185);
        left: -2%;
        width: 80%;
    }

    /* RESUME CONTENT============================== */
    .resumeInfo{
        display: none;
        opacity: 0;
        height: 50vh;
        margin: 3vh auto;
        width: 75%;
        overflow: hidden;
    }
    #resButtons{
        position: absolute;
        left: 0;
        justify-content: center;
        margin-bottom: 30px;
    }
    #resButtons h3{
        color: rgb(47 125 208);
        margin-bottom: 5px;
        margin-top: 5px;
        box-shadow: 5px 5px 15px 0;
        padding: 0 10px;
        width: 12vw;
        cursor: pointer;
    }
    #resButtons h3:nth-child(2){
        margin-left:  45px;
        margin-right:  45px;
    }
    #resButtons h3:hover{
        transition-duration: .5s;
        color: white;
        background-color: rgb(47 125 208);
    }

    #resContent{
        position: absolute;
        right: 20px;
        text-align: left;
        width: 65%;
        height: 77%;
        margin-bottom: 10px;
        z-index: 35;
        overflow: auto;
    }

    #resMega{
        position: fixed;
        left: 46%;
        width: 15%;
        top: 63%;
        opacity: 0.1;
    }

    .resumeInfo h4, .resumeInfo p{
        opacity: 0;
        margin-top: 35px;
    }

    .resumeInfo p{
        font-size: 2.5vh;
        margin-left: 35px;
        color: rgb(156, 149, 149);
    }

    .resumeInfo h4{
        margin-bottom: 5px;
        width: 50%;
        color: rgb(47 125 208);
        border-bottom: .5px solid rgb(47 125 208);
        font-size: 3vh;
    }

    /* SCROLLBAR FOR OVERFLOW======================================== */
    
    ::-webkit-scrollbar {
        width: 8px;
        z-index: 35;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(47, 125, 208);  
        border-radius: 8px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(47, 125, 208); 
    }





    @media only screen and (max-width: 1300px) {
        .aboutInfo{
            font-size: 18px;
        }
    }



    /* Screen that swipes on page change======================================== */

    .dropScreen{
        position: absolute;
        width: 100%;
        bottom: 0;
    }


    /* ANIMATIONS=========================================================== */




    
} /*End media query for desktop*/



/* SHARED ======================================== */

/* Blinking cursor in terminal=========================================== */
#cursor {
    -webkit-animation: cursor-blink 1s infinite; /* Safari 4+ */
    -moz-animation:    cursor-blink 1s infinite; /* Fx 5+ */
    -o-animation:      cursor-blink 1s infinite; /* Opera 12+ */
    animation:         cursor-blink 1s infinite; /* IE 10+, Fx 29+ */    
}


@-webkit-keyframes cursor-blink {
    0%   { opacity: 0; }
    50%  {opacity: 1;}
    100% { opacity: 0; }
}

.rotate {
    -webkit-animation: rotating 7s linear infinite;
}
.rotate2 {
    -webkit-animation: rotating2 7s linear infinite;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes rotating2 {
    from{
        -webkit-transform: rotate(360deg);
    }
    to{
        -webkit-transform: rotate(0deg);
    }
}