body{
    background-color: rgb(10, 10, 10);
}
.container{
    font-family: sans-serif;
    color: white;
    width: 100%;
    height: 85vh;
    margin: 5vh auto;
    background-color: #1b181899;
    box-shadow: 0 0 5px 10px #1b181899;
}

.terminal h1{
    position: absolute;
    font-size:3vw;
    margin: 21px 0 0 65px;
}

.contactIcons{
    position: absolute;
    display: block;
    bottom: 12vh;
    right: 10vw;
    /* float: right; */
}

.contactIcons img{
    margin: .5vh 1vw;
    width: 5vw;
}



#cursor{
    position: absolute;
    font-size: 5vh;
    margin-top: 14px;
    color: rgb(0, 100, 13);
}



/* Blinking cursor in terminal=========================================== */

#cursor {
    -webkit-animation: cursor-blink 1s infinite; /* Safari 4+ */
    -moz-animation:    cursor-blink 1s infinite; /* Fx 5+ */
    -o-animation:      cursor-blink 1s infinite; /* Opera 12+ */
    animation:         cursor-blink 1s infinite; /* IE 10+, Fx 29+ */
    
  }


@-webkit-keyframes cursor-blink {
    0%   { opacity: 0; }
    50%  {opacity: 1;}
    100% { opacity: 0; }
  }
  @-moz-keyframes cursor-blink {
    0%   { opacity: 0; }
    50%  {opacity: 1;}
    100% { opacity: 0; }
  }
  @-o-keyframes cursor-blink {
    0%   { opacity: 0; }
    50%  {opacity: 1;}
    100% { opacity: 0; }
  }
  @keyframes cursor-blink {
    0%   { opacity: 0; }
    50%  {opacity: 1;}
    100% { opacity: 0; }
  }