@import url('https://fonts.googleapis.com/css?family=Dosis');



body{
    background-image: url('assets/VSbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: auto; */
    padding-bottom: 0;
}
.terminalScreen{
    position: absolute;
    margin-top: 50px;
    top:135px;
    left: 100px;
    width: 1400px;
    height: 650px;
    background-image: url('assets/terminalBG.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.terminal{
    position: absolute;
    left: 105px;
    top:207px;
    z-index: 12;
    color: #13c60d;
    height: 3vh;
}

.terminal p{
    font-size: 28px;
    margin: 0;
}
.deskNav{
    box-shadow: 2px 2px grey;
    position: absolute;
    font-family: 'arial';
    font-weight: 100;
    margin-top: 170px;
    padding-left: 20px;
    width: 260px;
    left: 1050px;
    background-color: #f2f2f2;
    font-weight: lighter;
    z-index: 30;
}
.deskNav h3{
    font-size: 50px;
    margin: 10px 5px 20px;
}
h3:hover{
    color: #9cdcfe;
    cursor: pointer;
    /* height: 200px; */
}

.deskNav img{
    position: absolute;
    left: 5px;
    width: 20px;
}


.about_Section,.team_Section,.projects_Section,.contact_Section{
    display: none;
    /* opacity: 0; */
    /* z-index: -20; */
}

@media screen and (max-width: 650px) {
    #desktopTitle{
        display: none;
    }
    .deskNav{
        display: none;
    }
    .terminal{
        /* font-size: 25px; */
        background-color: black;
        top:0;
        left: 0;
        position: fixed;
        width: 100%;
    }
    
    .terminal p{
        font-size: 17px;
    }
    /* .about_Section,#team_Section,#projects_Section,#contact_Section{
    } */
    body{
        margin: 0;
        font-family: 'Dosis';
        background: none;
    }
    .terminalScreen{
        display: none;
    }
    .about_Section, .projects_Section, .contact_Section, .team_Section{
        position: relative;
        display: revert;
        width: 100%;
        padding-right: 0;
        height:22vh;
        text-align: center;
        border-bottom: 2px solid black;
    }
}
/*End media query */


#location{
    color: white;
    margin-left: 8px;
}

#directory{
    margin-left: 10px;
    color: white;
}



#one,#two{
    position: relative;
    opacity: 0;
    z-index: 1;
}

#one{
    top: -5vh;
}

#two{
    top: 5vh;
}

#closeIcon{
    display: none;
    font-size: 28px;
    top:'-76px';
    opacity: 0;
    padding: 0 30px;
}

.terminal #cursor{
    color: white;
    position: absolute;
    font-size: 11px;
    width: 15px;
    margin-top: 18px;
    margin-left: 5px;
}


.main span{
    font-family: 'Dosis';
}

.main{
    padding-top: 20px;
    /* overflow: auto; */
}



/* ABOUT SECTION============================================================================= */
@media screen and (max-width: 650px) {
    h1{
        font-family: 'Times New Roman', Times, serif;
        
        text-align: left;
        color: #13c60d;
        margin: 0;
        font-size: 75px;
    }
    #about-info{
        color: white;
        width: 80%;
        margin: auto;
    }
    #p1,#p2,#p3,#skillset{
        opacity: 0;
    }
    #skillset h3{
        font-size: 17px;
        margin-top: 22px;
        color: #13c60d;
    }
    .about_Section #cursor{
        position: absolute;
        margin: 7px 6px 0;
        color: white;
        font-size: 11px;
    }
}




/* PROJECT SECTION========================================================================= */
@media screen and (max-width: 650px) {
    .projectContent{
        opacity: 0;
    }
    .projectContent p{
        margin:1px 0 1px;
        color: #13c60d;
    }

    .projectContent span{
        border-top: 1px solid #13c60d;
        padding-top: 2px;
        font-size: 12px;
        color: white;
    }

    .projects_Section img{
        margin-top: 10px;
        width: 250px;
        border: solid #13c60d 1px;
        border-radius: 6px;
    }
}
            
/* CONTACT SECTION=================================================================== */

@media screen and (max-width: 650px) {
    .contact_Section img{
        width: 90px;
    }
    .contact_Section p{
        opacity: 0;
        font-size: 23px;
        word-spacing: 1em;
        color: white;
    }

    .contactContent{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 5px 30px 0;
    }
    .contactContent > div{
        opacity: 0;
        margin-top: 180px;
    }

    #iconInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 42px;
    }
    .contact_Section span{
        color:#13c60d;
    }
}
/* TEAM SECTION============================================================================== */
.team_Section{
    border: none;
}






/* Blinking cursor in terminal=========================================== */

#cursor {
    -webkit-animation: cursor-blink 1s infinite; /* Safari 4+ */
    -moz-animation:    cursor-blink 1s infinite; /* Fx 5+ */
    -o-animation:      cursor-blink 1s infinite; /* Opera 12+ */
    animation:         cursor-blink 1s infinite; /* IE 10+, Fx 29+ */
  }


@-webkit-keyframes cursor-blink {
    0%   { opacity: 0; }
    50%  {opacity: 1;}
    100% { opacity: 0; }
  }
  @-moz-keyframes cursor-blink {
    0%   { opacity: 0; }
    50%  {opacity: 1;}
    100% { opacity: 0; }
  }
  @-o-keyframes cursor-blink {
    0%   { opacity: 0; }
    50%  {opacity: 1;}
    100% { opacity: 0; }
  }
  @keyframes cursor-blink {
    0%   { opacity: 0; }
    50%  {opacity: 1;}
    100% { opacity: 0; }
  }