body{
    /* font-family: 'Oswald'; */
    /* background: url("/assets/keyboardBG.jpeg") no-repeat center;
    background-size: cover; */
    font-family: 'fantasy';
    background-color: #444444;
    overflow: hidden;
}

@media only screen and (max-width: 899px) {

    .contactIcons{
        position: sticky;
        display: flex;
        justify-content: space-around;
        width: 100%;
        bottom: 0;
        /* text-align: center; */

    }
    
    svg{
        width: 10vw;
        height: auto;
        fill:rgb(0, 219, 73);
    }


} /* End of small screen media query  */



@media only screen and (min-width: 900px) {
    .container{
        font-family: 'Oswald';
        color: white;
        width: 100%;
        height: 85vh;
        margin: 5vh auto;
        background-color: #444444; 
        box-shadow: 0 0 5px 5px #46434399;

       
    }

    /* Terminal at top left of screen ==========================*/
    .terminal h1{
        position: absolute;
        font-size:2vw;
        left: 4.5vw;
        margin-top: 21px;
        color:  rgb(209, 209, 209);
    }

    #location{
        color: #26af34;
        margin-left: 1vw;
    }

    #cursor{
        position: absolute;
        margin-left: 5px;
        font-size: 2vh;
        bottom: 0;
        color: rgb(10, 172, 32);
    }

    /* Contant icons=============================================== */
    .contactIcons{
        position: absolute;
        display: grid;
        bottom: 30vh;
        margin-left: 2vw;
        clear: both;
        right: 10vw;
    }
    .contactIcons svg{
        padding-right: 20px;
    }

    a:first-child img{
        border-radius: 4px;
    }

    /* .contactIcons svg:hover{
        box-shadow: -1px 1px 20px 15px #24952f;
    } */

    svg{
        /* position: absolute; */
        opacity: .7;
        width: 4vw;
        height: auto;
        margin-bottom: 15px;
        fill: #24952f;
        border-right: 1px solid transparent;
    }

    svg:hover{
        /* position: absolute; */
        /* margin-left: 15px; */
        transition-duration: .5s;
        opacity: 1;
        border-right: 1px solid rgb(122, 120, 120);
    }

    /* Content display =================================================== */
    .contentDisplay{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        top: 13vh;
        left: 4.5vw;
        width: 75vw;
        height: 68vh;

        box-shadow: 0 8px 32px 0 #858383;
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;

    }


    .contentDisplay h2{
        font-size: 2vw;
        margin-top: 25vh;
    }




    .aboutSection, .projectSection, .resumeSection{
        width: 100%;
        position: relative;
    }

    .aboutSection:before{
        opacity: .5;
    }


    /* Divs for "border" animation */

    div .leftAboutBorder, div .rightAboutBorder,
    div .leftResBorder, div .rightResBorder,
    div .leftProjBorder, div .rightProjBorder{
        position: absolute;
        background-color: #5f5c5c;
        height: 0;
        width: 0;
        border-radius: 0 0 10px 0;
    }

    div .rightAboutBorder{
        right: 0;
        bottom: 0;
        border-radius: 10px 0 0 0;
    }

    div .leftProjBorder,div .rightProjBorder{
        background-color: rgb(114, 6, 181);
        width: 10%;
        left: 50%;
        border-radius: 0 0 10px 10px;
    }
    div .rightProjBorder{
        bottom: 0;
        border-radius: 10px 10px 0 0;
    }

    div .leftResBorder, div .rightResBorder{
        background-color: rgb(241, 213, 163);
        top: 45%;
        height: 15%;
        border-radius: 0 10px 10px 0;
    }
    div .leftResBorder{
        right:0;
        border-radius: 10px 0 0 10px;
    }
    /* div .leftProjBorder{
        bottom: 0;
    } */

    div .rightResBorder{}




    .contentDisplay h2{
        padding: 2vh 0;
        transition: all .3s ease-in-out;
        z-index: 2;
        cursor: pointer;
    }


    .contentDisplay h2:hover{
        color: rgb(9, 197, 9);
        transform: scale(1.4);    
    }



    /* Hidden Menus that appear after first click=================================== */
    .hiddenMenu{
        position: absolute;
        width: 100%;
        bottom: 8px;
        display: flex;
        overflow: hidden;

    }

    .hiddenMenu h1{
        z-index: 5;
        color: rgb(0, 219, 73);
        opacity: .8;
        height: 10vh;
        font-size: 2.5vw;
        margin-bottom: 0;
        width: 50%;
        /* overflow: hidden; */
    }

    .hiddenName1, .hiddenName2{
        /* position: absolute; */
        position: absolute;
        top: 15vh;
        /* z-index: 200; */
        margin-bottom: 20px;
    }

    .hiddenName1{
        z-index: 4;
    }

    span:hover{
        cursor: pointer;
        text-decoration: underline;
    }



    .strings{
        position: absolute;
        right: 1vw;
        width: 5%;
        height: 47vh;
        overflow: hidden;
    }

    .string1 {
        position: absolute;
        width: 100%;
        background-color: orange;
        right: 3vw;
        height: 0;
        z-index: 4;
    }

    /* Content being displayed from hidden interaction============================== */
    .mainContent{
        position: absolute;
        content: ' ';
        /* background-color: red; */
        overflow: hidden;
        width: 100%;
    }


    /* ABOUT CONTENT============================= */
    .aboutContent h1{
        font-size: 45px;  
        float: left;
        margin-left: 2vw;
    }
    .aboutInfo{
        display: none;
        opacity: 0;
        width: 65%;
        margin: 3vh auto;
        font-size: 21px;  
        /* background-color: red; */
    }

    .aboutInfo h1{
        font-size: 25px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .aboutInfo hr{
        margin-top: 4vh;
    }

    /* RESUME CONTENT============================== */
    .resumeInfo{
        /* position: absolute; */
        display: none;
        opacity: 0;
        height: 50vh;
        margin: 3vh auto;
        /* border: 1px solid green; */
        width: 75%;
        overflow: hidden;
    }
    #resButtons{
        position: absolute;
        left: 0;
        /* display: flex; */
        justify-content: center;
        /* margin-top: 1px; */
        /* border-bottom: .5px solid grey; */
        margin-bottom: 30px;
    }
    #resButtons h3{
        /* opacity: .5; */
        color: rgb(47 125 208);
        margin-bottom: 5px;
        margin-top: 5px;
        box-shadow: 5px 5px 15px 0;
        padding: 0 10px;
        width: 12vw;
        cursor: pointer;
    }
    #resButtons h3:nth-child(2){
        margin-left:  45px;
        margin-right:  45px;
    }
    #resButtons h3:hover{
        transition-duration: .5s;
        color: white;
        background-color: rgb(47 125 208);
    }

    #resContent{
        position: absolute;
        right: 20px;

        /* margin: auto; */
        text-align: left;
        width: 65%;
        height: 77%;
        margin-bottom: 10px;
        /* border: 1px solid yellow; */
        /* box-shadow: 0px 10px 20px 2px black; */
        z-index: 35;
        overflow: auto;
    }


    .resumeInfo h4, .resumeInfo p{
        opacity: 0;
        margin-top: 35px;
    }

    .resumeInfo p{
        font-size: 2.5vh;
        margin-left: 35px;
        /* opacity: 0; */
        color: rgb(156, 149, 149);
    }

    .resumeInfo h4{
        /* margin-left: 30px; */
        margin-bottom: 5px;
        width: 50%;
        color: rgb(47 125 208);
        border-bottom: .5px solid rgb(47 125 208);
        font-size: 3vh;
    }

    /* SCROLLBAR FOR OVERFLOW======================================== */
    /* width */
    ::-webkit-scrollbar {
        width: 8px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(167, 164, 164); 
        border-radius: 7px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(131, 126, 126); 
    }





    @media only screen and (max-width: 1300px) {
        .aboutInfo{
            font-size: 18px;
        }
    }



    /* Screen that swipes on page change======================================== */

    .dropScreen{
        position: absolute;
        background-color: brown;
        width: 100%;
        /* height: 2vh;  */
        bottom: 0;
    }


    /* ANIMATIONS=========================================================== */




    /* Blinking cursor in terminal=========================================== */

    #cursor {
        -webkit-animation: cursor-blink 1s infinite; /* Safari 4+ */
        -moz-animation:    cursor-blink 1s infinite; /* Fx 5+ */
        -o-animation:      cursor-blink 1s infinite; /* Opera 12+ */
        animation:         cursor-blink 1s infinite; /* IE 10+, Fx 29+ */    
    }


    @-webkit-keyframes cursor-blink {
        0%   { opacity: 0; }
        50%  {opacity: 1;}
        100% { opacity: 0; }
    }
    @-moz-keyframes cursor-blink {
        0%   { opacity: 0; }
        50%  {opacity: 1;}
        100% { opacity: 0; }
    }
    @-o-keyframes cursor-blink {
        0%   { opacity: 0; }
        50%  {opacity: 1;}
        100% { opacity: 0; }
    }
    @keyframes cursor-blink {
        0%   { opacity: 0; }
        50%  {opacity: 1;}
        100% { opacity: 0; }
    }
} /*End media query for desktop*/